$mainColor: #47a2f7;

/* CSS declarations go here */
* {
    box-sizing: border-box;
}
.header{
    img {
        width: 100%;
    }
}

.song-list-container {
    font-size: 14px;
    
    .song-item {
        .thumbnail-wrapper {
            float: left;
            position: relative;
            width: 129px;
            text-align: center;

            &:hover {
                .overlay {
                    display: block;
                }
            }

            .overlay {
                display: none;
                font-size: 14px;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                padding: 5px;

                .btn {
                    margin-bottom: 5px;
                }
            }
        }

        .info-wrapper {
            float: left;
            margin-left: 10px;
            
            .fa {
                margin-right: 5px;
            }
        }

        @media screen and (max-width: 490px) {
            img, .info-wrapper {
                float: none !important;
                display: block;
            }

            .info-wrapper {
                margin-top: 10px;

                .info-item {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.song-list {
    position: fixed;
    height: 300px;
    width: 200px;
    max-height: calc(100vh - 127px);
    left: -180px;
    background: $mainColor;
    bottom: 185px;
    z-index: 998;
    transition: all 2s;
    color: white;
    padding-top: 10px;

    .title {
        text-align: center;
    }

    &:hover {
        left: 0px;
    }

    .item {
        width: 100%;
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.active {
            font-weight: bolder;
            color: #e0b5f5;
        }
    }
}

//scss for player
.player {
    padding: 26px 10px;
    background-color: $mainColor;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    // position: relative;
    z-index: 1000;

    .song-info, .control-button, .time-line {
        float: left;
        text-align: center;
        position: relative;
        z-index: 1000;
    }

    .song-info {
        width: 15%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .control-button {
        $size: 30px;
        width: 123px;
        font-size: 18px;
        
        span {
            width: $size;
            height: $size;
            cursor: pointer;

            &:nth-child(2) {
                margin: 0 10px;
            }

            &.disable {
                opacity: 0.5;
            }
        }
    }

    .time-line {
        width: calc(85% - 123px);

        .line-wrapper {
            width: calc(100% - 100px);
            height: 5px;
            background-color: grey;
            float: left;
            position: relative;
            top: 8px;

            .song-progress-bar {
                position: absolute;
                height: 100%;
                width: 0;
                background-color: white;

                &:after {
                    $size: 13px;
                    content: '';
                    display: block;
                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    background: white;
                    right: -3px;
                    position: absolute;
                    top: -3px;
                }
            }
        }

        .time-text {
            width: 100px;
            float: left;
        }
    }
}
